Source: ros-humble-th02-a7-description
Section: misc
Priority: optional
Maintainer: Westwoodrobotics <info@westwoodrobotics.io>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-th02-a7-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Robot description for TH02-A7
